<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark" >
    <div> 
      <ion-item color="dark">
        <ion-label position="floating" >Email</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item color="dark" >
        <ion-label position="floating">Senha</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-button expand="full">Manter Logado</ion-button>
      <ion-button expand="full">login</ion-button> 
      <ion-button expand="full">Registro</ion-button>
    </div>
</ion-content>
